* {
  margin: 0 !important;
  padding: 0 !important;
}

.mat-toolbar {
  padding-left: 10px !important;
  background-color: #000;
  color: #fff;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  text-align: left;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2),
    0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

.mat-toolbar img {
  display: inline-block;
}

.mat-card-title {
  padding: 10px !important;
  margin-top: 20px !important;
  color: #333;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
}

hr {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2),
    0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

.desafio-usuarios {
  font-weight: bold;
  font-size: 20px;
}

.txtRetorno {
  width: 96%;
  margin: 0 auto !important;
  font-size: 16px;
}

section {
  margin-top: 20px !important;
}

.mat-icon {
  padding: 10px !important;
}
